nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: var(--text-primary);
    color: white;
    @include media-max(762px) {
        width: 100%;
        height: 100px;
    }
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        @include media-max(762px) {
            flex-direction: row;
        }
        li {
            padding: 20px;
        }
    }
}
