@import './variables.scss';

.exercise {
    &__header{
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        margin-bottom: 20px;
        &-icon{
            margin-right: 20px;
            cursor: pointer;
        }
        &-heading{
            font-weight: 500;
            font-size: inherit;
        }
    }    
}
