@import './variables.scss';

.exercise-list {
    .heading {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        th {
            text-align: left;
            font-weight: 500;
            height: 60px;
            padding: 0 20px;
            color: $black;
            border-bottom: 0.5px solid $black;
            @include media-max($xs) {
                padding: 0 10px;
            }
        }
        td {
            border-bottom: 0.5px solid $black;
            padding: 0 20px;
            height: 50px;
            font-size: 0.9rem;
            .name {
                cursor: pointer;
            }
            .categorie {
                padding: 4px 10px;
                &.bg-green {
                    background-color: #dffae6;
                    color: #3ab93a;
                }
                &.bg-yellow {
                    background-color: #fbf3c3;
                    color: #ea8e00;
                }
                &.bg-blue {
                    background-color: #c3f4fb;
                    color: $blue;
                }
                &.bg-red {
                    background-color: rgb(255, 208, 208);
                    color: $red;
                }
            }
            @include media-max($xs) {
                padding: 0 10px;
            }
        }
    }
}
