@import './variables.scss';

.groupItem {
    margin-bottom: 20px;
    font-size: 1rem;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        display: block;
        margin-bottom: 5px;
    }
    input {
        display: block;
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        border: 1px solid $grey-light;
        border-radius: $main-radius;
        outline: none;
        &::placeholder {
            color: $grey-dark;
        }
        &[visited='true']:invalid + span {
            display: inline-block;
        }
    }
    span {
        display: none;
        margin-top: 5px;
        color: $red;
        font-size: 0.9rem;
    }
}
