@import './variables.scss';

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

form {
    width: 450px;
    padding: 20px;
    .title {
        margin-bottom: 20px;
        font-weight: 600;
    }
    .btn-submit {
        width: 100%;
        color: $white;
        background-color: $blue;
        border: none;
        padding: 10px;
        border-radius: $main-radius;
        font-size: 1rem;
        cursor: pointer;
    }
}
