@import './variables.scss';

.login {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    .container-left {
        width: 45%;
        background-color: $brown;
        color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        @include media-max($md) {
            display: none;
        }
    }
    .container-right {
        width: 55%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px 0;
        @include media-max($md) {
            width: 100%;
        }
        form {
            width: 70%;
            border-radius: $main-radius;
            box-shadow: $main-shadow;
            padding: 20px;
            .title {
                margin-bottom: 20px;
                font-weight: 500;
            }
            .btn-submit {
                width: 100%;
                color: $white;
                background-color: $black;
                border: none;
                padding: 10px;
                border-radius: $main-radius;
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }
}
