//IMPORT
@import '_mixin';
@import '_navbar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --text-primary: #010101;
    --bg-primary: white;
}

body {
    min-height: 100vh;
    margin: 0 auto;
}
