@import './variables.scss';

.training-create {
    .heading {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 20px;
    }
    form {
        box-shadow: $main-shadow;
        border-radius: $main-radius;
        background-color: $white;
        width: 100%;
        padding: 20px;
        .group-item {
            margin-bottom: 20px;
            @include media-max($sm) {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0;
                margin-top: 30px;
                @include media-max($sm) {
                    margin-top: 25px;
                }
            }
            &__row {
                display: flex;
                flex-wrap: wrap;
            }
            &__title {
                width: 60%;
                margin-right: 20px;
                @include media-max($sm) {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
            &__level {
                width: 30%;
                @include media-max($sm) {
                    width: 50%;
                }
            }
        }
        .group-item-flex {
            display: flex;
            align-items: flex-end;
            &__exercise {
                width: 40%;
                margin-right: 20px;
            }
            &__sets {
                margin-right: 20px;
                width: 15%;
            }
            &__reps {
                width: 15%;
            }
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input,
        select {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            border: 1px solid $grey;
            border-radius: $main-radius;
            outline: none;
            background-color: $whitesmoke;
            &::placeholder {
                color: $grey-dark;
            }
        }
    }
    .add-icon {
        font-size: 1.6rem;
        color: $blue;
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
    }
    .remove-icon {
        font-size: 1.6rem;
        color: $red;
        display: block;
        cursor: pointer;
        margin-bottom: 10px;
        margin-left: 20px;
    }
    .action-btn {
        color: $white;
        width: 200px;
        border: none;
        padding: 10px;
        border-radius: $main-radius;
        font-size: 1rem;
        cursor: pointer;
        @include media-max($sm) {
            width: 100%;
        }
    }
    .add-btn {
        background: $bg-g-blue;
    }
    .submit-btn {
        background: $bg-g-black;
        margin-left: 20px;
        @include media-max($sm) {
            margin-left: 0;
            margin-top: 15px;
        }
    }
}
