//FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

//VARIABLES
$black: #010101;
$white: #fff;
$whitesmoke: #f5f5f561;
$grey-light: #f1f3f4;
$grey: #e0e0e0;
$grey-dark: #7b7b7b;
$red: #eb2b2b;
$blue: #1976d2;
$brown-light: #f9f7ed;
$brown: #e4e0d5;
$brown-dark:#bbb6aa;
$bg-g-black: linear-gradient(to right, #323232, #262626);
$bg-g-blue: linear-gradient(to right, #3490ec, #1976d2);

//HEADER
$header-width: 250px;
$header-height: 100px;
$header-height-mobile: 80px;
$logo-height:150px;

//PADDING
$padding-main: 40px;
$padding-mobile: 20px;

//RADIUS & BOX-SHADOW
$main-radius: 8px;
$card-radius: 25px;
$main-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

//BREAKPOINTS RESPONSIVE
$xs: 400px;
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;

//MIXINS
@mixin media-max($_min-width) {
    @media screen and (max-width: $_min-width) {
        & {
            @content;
        }
    }
}
